.services {
	padding-top: 15px;
	overflow: hidden;
	@media screen and (min-width: 360px) {
		padding-top: 30px;
	}
	@media screen and (min-width: 480px) {
		padding-top: 60px;
	}
	@media screen and (min-width: 576px) {
		padding-top: 115px;
	}
	&__content {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@media screen and (min-width: 480px) {
			margin-top: 40px;
		}
		@media screen and (min-width: 992px) {
			margin-top: 65px;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
		}
		@media screen and (min-width: 992px) {
			margin-top: 80px;
		}
	}
	&__block {
		width: 80%;
		position: relative;
		right: -30%;
		@media screen and (min-width: 992px) {
			right: auto;
			width: 50%;
		}
		@media screen and (min-width: 1400px) {
			width: 40%;
		}
		&:first-child {
			@media screen and (min-width: 992px) {
				right: -20%;
				order: 2;
			}
			@media screen and (min-width: 1400px) {
				right: -15%;
			}
		}
		&:last-child {
			@media screen and (min-width: 992px) {
				order: 1;
				left: -20%;
			}
			@media screen and (min-width: 1400px) {
				left: -15%;
			}
			.services__btn {
				@media screen and (min-width: 992px) {
					transform: scaleX(-1);
				}
			}
		}
	}
	&__btn {
		margin-bottom: 5px;
		padding: 0;
		align-content: flex-end;
		background-color: transparent;
		border: none;
		transition: transform .3s;
		@media screen and (min-width: 360px) {
			margin-bottom: 20px;
		}
		&.active {
			transform: scale(1.1);
		}
	}
	&__img {
		width: 100%;
		max-width: 555px;
	}
}