extends layout/common

block variables
	- var title = "Главная"

block content
	include sections/_main
	include sections/_about
	include sections/_services

block script 
	//- script(src="static/js/libs/jquery-3.6.0.min.js") 
	script(src="static/js/libs/libs.js")
	script(src="static/js/main.js")