section.about
	.about__container.container 
		h2.section-title О нас
		.about__content 
			p.about__text Что определяет успех любого дела? Это опыт, ответственность и желание приносить клиентам пользу, чувствовать удовлетворенность и радость в момент, когда совместные усилия создают по-настоящему качественный продукт.
			p.about__text Каждый в нашей команде вырос как личность и как профессионал в своем направлении, преодолев значительное количество непростых задач, обретая тем самым необходимый опыт, навыки взаимодействия со специалистами различного профиля, умение налаживать сложнейшие производственные процессы и оптимально использовать материальные и временные ресурсы.