main.main
	.main__container.container 
		.main__content
			h1.main-title Развиваем бизнесы и бренды онлайн
			.main-contacts 
				button.btn Написать нам
				a.main-contacts__link(href="")
					+icon('phone', 'main-contacts__icon')
				a.main-contacts__link(href="") 
					+icon('mail', 'main-contacts__icon')
