section.services 
	.container 
		h2.section-title Услуги
		.services__content 
			.services__block 
				button.services__btn(type="button") 
					img.services__img(src="static/images/sections/services/context.png", alt="Context")
				button.services__btn(type="button")
					img.services__img(src="static/images/sections/services/seo.png", alt="SEO")
				button.services__btn(type="button")
					img.services__img(src="static/images/sections/services/target.png", alt="Target")
				button.services__btn(type="button")
					img.services__img(src="static/images/sections/services/target.png", alt="Target")
				button.services__btn(type="button")
					img.services__img(src="static/images/sections/services/sites.png", alt="Sites")
			.services__block 
				button.services__btn(type="button")
					img.services__img(src="static/images/sections/services/crm.png", alt="CRM")
				button.services__btn(type="button")
					img.services__img(src="static/images/sections/services/package.png", alt="Package")
				button.services__btn(type="button")
					img.services__img(src="static/images/sections/services/chat-bots.png", alt="Chat Bots")
				button.services__btn(type="button")
					img.services__img(src="static/images/sections/services/ip-telephony.png", alt="IP Telephony")