section.work 
	.container
		h2.section-title Как мы работаем
	.work__content 
		.work__item
			span.work__number 1
			.work__info
				h3.work__title Бриф
				p.work__text Подготовительный этап, на котором вы заполняете бриф где описываете свой проект задачу и цели
		.work__item
			span.work__number 2
			.work__info
				h3.work__title Стратегия
				p.work__text Мы изучим информацию из брифа, после чего, команда проекта разработает стратегию продвижения
		.work__item
			span.work__number 3
			.work__info
				h3.work__title Подготовка
				p.work__text На этом этапе, мы настраиваем аналитику и подготавливаем материал для создания рекламных кампаний
		.work__item
			span.work__number 4
			.work__info
				h3.work__title Запуск
				p.work__text После утверждения вами всех рекламных материалов, мы собираем и запускаем рекламные кампании
		.work__item
			span.work__number 5
			.work__info
				h3.work__title Анализ
				p.work__text Спустя несколько дней с момента запуска рекламных кампаний, мы анализируем первые полученные данные
		.work__item
			span.work__number 6
			.work__info
				h3.work__title Развитие
				p.work__text Специалисты ежедневно работают над вашим проектом, выполняя задачи по оптимизации